@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("http://fonts.cdnfonts.com/css/gotham");

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  /* font-family: "Gotham", sans-serif;  */
  font-family: "Gotham Black", sans-serif;
  /* font-family: "Gotham Light", sans-serif; */
  /* font-family: "Gotham Thin", sans-serif; */
  /* font-family: "Gotham XLight", sans-serif; */
  /* font-family: "Gotham Book", sans-serif; */
  /* font-family: "Gotham Ultra", sans-serif; */
  box-sizing: border-box;
  scroll-behavior: smooth;
  @apply select-none;
}

.border-active {
  border-left: 4px solid #ff0f51;
}

.border-active-blue {
  border-left: 4px solid #a4e6ff;
}
